{% extends "outer.html" %}

{% block title %}{{banner}} - Thank you for registering{% endblock %}

{% block mainframe %}

<div class="jumbotron" id="mainFrame">
	<div class="container">
	<h2>Registration Complete</h2>
		<div class="privacyContent">
			
			<h2>Your account has been successfully added to our database.</h2>
			You may log in above using the username and password combination you have created.
			Please note that you will need to check your email accont and click the link to activate your account
			prior to using our apps.
		</div>
	</div>
</div>

{% endblock %}
